/* Start of Media Querie for Tablet */
@media (min-width: 768px) and (max-width:1200px) {
    h4 {
      font-size: 22px;
      padding-top: 20px;
    }
  
    p {
      font-size: 11px;    
    }
    #navbar {
      height: 500px;
    }
    .container {
       max-width: 768px;     
    }
    .nav-content h4 {
      font-size: 18px;
      top: 120px;s
      height: 25px;
      padding: 2px;
    }
    .nav-content p {
      top: 145px;
      height: 25px;
      font-size: 13px;
      padding: 2px;
    }
   
   
  
    #first-section {
      height: 380px;        
    }
  
    .main-content {
      padding: 5px 5px;
    }
    .box{
      padding: 20px 0;
    }
    .circle-icon {
      width: 80px;
      height: 80px;
      padding: 15px 10px;
    }
   
    #second-section {
      height: 280px;                
      background-size: 200px 150px; 
    }
  
    
    .button {
      padding: 7px 18px;              
    }
    .wrapper2 {
      padding: 15px;                
    }
  
    
    #third-section {
      height: 1100px;               
    }
    #images {
      flex-direction: column;
      padding: 10px 15px; 
    justify-content: center;
    }
  
    #images .content-img img {
      height: 200px;               
      width: 450px;                 
    }

    #fourth-section{
        height: 240px;
    }
  
    #footer .container .footer {
      justify-content: space-around;           
    }
  
  }
  
  /* Start of Media Querie for Tablet
  